<h3>Winner for now</h3>
<div>
  <%@winners.try(:each) do |winner|%>
    <%= winner.first %>
  <%end%> 
</div>
<br>
<h4> People who have not voted </h4>
<div>
  <% @cheaters.try(:each) do |cheater|%>
    <%= cheater %><br>
  <%end%>
</div>
