<h3>Winner</h3>
<div>
  <% @winners.each do |winner|%>
    <%= winner.first %>
  <%end%>  
</div>
<br>
<h3> Votes Obtained </h3>
<div>
  <% @votings.each_pair do |candidate, count| %>
    <%= "#{candidate} => #{count}" %><br>
  <%end%>
</div>
<h4> People who have not voted </h4>
<div>
  <% @cheaters.each do |cheater|%>
    <%= cheater %><br>
  <%end%>
</div>
